main{
    height: 500px;
    border: 2px solid green;
}

.flex-container{
    margin: 0 auto;
    border: 2px dashed purple;
    display: flex;
    width: 500px;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container div{
    margin: 20px;
    padding: 30px;
    background-color: pink;
    border: 1px solid red;
    font-size: 30px;
    color: blue;
}